In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# 한글폰트 사용을 위해 설치
# 아래 모듈을 설치하고 불러오면 별도의 한글폰트 설정이 필요 없습니다.
# colab 에서도 아래 설치 문구의 주석을 제거하고 설치하고 import 해주기만 하면 한글폰트가 잘 나옵니다.
# !pip install koreanize-matplotlib

import koreanize_matplotlib

# df = pd.read_csv("boostcourse-ds-510/data/NHIS_OPEN_GJ_2017.CSV.zip", encoding="cp949")
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/NHIS_OPEN_GJ_2017.CSV.zip",
                 encoding="cp949")

### Q1. 연령대별 허리둘레에 대한 기술통계를 구하려고 합니다. 다음 제공되는 딕셔너리를 통해 연령대코드(5세단위)를 "연령대"로 만들고 아래와 같은 기술통계값을 구해주세요!

딕셔너리

In [2]:
age_code = {1: '0~4세',
 2: '5~9세',
 3: '10~14세',
 4: '15~19세',
 5: '20~24세',
 6: '25~29세',
 7: '30~34세',
 8: '35~39세',
 9: '40~44세',
 10: '45~49세',
 11: '50~54세',
 12: '55~59세',
 13: '60~64세',
 14: '65~69세',
 15: '70~74세',
 16: '75~79세',
 17: '80~84세',
 18: '85세+'}

In [3]:
# 연령대코드(5세단위)의 값을 age_code로 대체하고,
# 컬럼명을 연령대로 변경
df1= df.replace({'연령대코드(5세단위)':age_code}).rename(columns={'연령대코드(5세단위)':'연령대'})

In [4]:
# 연령대별 허리둘레에 대한 기술통계 by groupby
df1.groupby(['연령대'])['허리둘레'].describe()

           count       mean        std   min   25%   50%   75%    max
연령대
20~24세   23244.0  75.152220  12.251781  47.5  67.5  73.4  81.0  999.0
25~29세   64898.0  77.704783  16.735734  48.0  69.0  76.5  84.2  999.0
30~34세   77517.0  81.089268  22.988111  49.0  72.0  80.1  88.0  999.0
35~39세   84621.0  82.094012  14.522095   9.2  75.0  82.0  89.0  999.0
40~44세  130912.0  80.488308  10.803098  42.1  73.0  80.0  87.0  999.0
45~49세  118357.0  80.822449   9.521622  40.0  74.0  81.0  87.0  137.0
50~54세  129833.0  81.062754   9.095438   6.5  75.0  81.0  87.0  142.0
55~59세  112175.0  81.799905   8.730398  32.0  76.0  82.0  87.5  139.0
60~64세  106491.0  82.722769   8.596176   0.0  77.0  83.0  88.0  137.0
65~69세   53624.0  83.588500   8.443542  50.0  78.0  83.5  89.0  129.0
70~74세   51586.0  84.063372   8.539639  51.0  78.0  84.0  90.0  129.8
75~79세   25972.0  84.200127   8.772306  50.0  78.0  84.0  90.0  122.0
80~84세   16205.0  83.751435   9.041091  38.0  78.0  84.0  90.0  120.0
85세+      4125.0  81.736703  17.325969  34.0  75.0  81.5  88.0  999.0

In [5]:
# pivot_table 로 기술통계 표현
df1.pivot_table(index='연령대',values='허리둘레',
               aggfunc='describe')

         25%   50%   75%     count    max       mean   min        std
연령대
20~24세  67.5  73.4  81.0   23244.0  999.0  75.152220  47.5  12.251781
25~29세  69.0  76.5  84.2   64898.0  999.0  77.704783  48.0  16.735734
30~34세  72.0  80.1  88.0   77517.0  999.0  81.089268  49.0  22.988111
35~39세  75.0  82.0  89.0   84621.0  999.0  82.094012   9.2  14.522095
40~44세  73.0  80.0  87.0  130912.0  999.0  80.488308  42.1  10.803098
45~49세  74.0  81.0  87.0  118357.0  137.0  80.822449  40.0   9.521622
50~54세  75.0  81.0  87.0  129833.0  142.0  81.062754   6.5   9.095438
55~59세  76.0  82.0  87.5  112175.0  139.0  81.799905  32.0   8.730398
60~64세  77.0  83.0  88.0  106491.0  137.0  82.722769   0.0   8.596176
65~69세  78.0  83.5  89.0   53624.0  129.0  83.588500  50.0   8.443542
70~74세  78.0  84.0  90.0   51586.0  129.8  84.063372  51.0   8.539639
75~79세  78.0  84.0  90.0   25972.0  122.0  84.200127  50.0   8.772306
80~84세  78.0  84.0  90.0   16205.0  120.0  83.751435  38.0   9.041091
85세+    75.0  81.5  88.0    4125.0  999.0  81.736703  34.0  17.325969

### Q2. "음주여부", "흡연상태", "연령대코드(5세단위)", "성별코드"에 대한 상관계수를 구하고 시각화 해주세요.